# dependencies
node_modules/

# build output
dist/
build/

# env
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*

# testing / coverage
coverage/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# misc
*.tsbuildinfo
.eslintcache

/generated/prisma
